/* default: small screen */
body {
  font-family: 'Spartan', sans-serif;
  font-size: 1rem;
  position: relative;
}

h1 {
  margin-top: 0;
  margin-bottom: 40px;
}

.content-wrapper {
  display: block;
  margin: 60px auto;
  position: relative;
  width: 350px;
  text-align: center;
}

.clearfix {
  overflow: auto;
}

.section-margin {
  margin-bottom: 60px;
}

.card-margin {
  margin-bottom: 20px;
  margin-right: 20px;
}

/* background image */
.background-top-img {
  position: absolute;
  top: -60px;
  left: 0;
}

.background-bottom-img {
  position: absolute;
  bottom: -60px;
  right: 0;
}

/* title */
.title__main {
  font-weight: 700;
  font-size: 2.3rem;
}

.title__sub {
  font-weight: 400;
  line-height: 1.5;
}

/* rating */
.rating {
  font-weight: 700;
}

.rating-card {
  padding: 10px;
  border-radius: 10px;
}

.rating-card__star {
  margin: 10px 20px;
}

.rating-card__caption {
  margin: 10px auto;
}

/* testimonial */
.testimonial-card {
  border-radius: 10px;
  padding: 30px;
  text-align: left;
}

.testimonial-card__user-info {
  line-height: 1.5;
}

.testimonial-card__user-info img {
  border-radius: 1.5rem;
  float: left;
  margin: 0 20px 20px 0;
  width: 3rem;
}

.testimonial-card__name {
  font-size: 1rem;
  font-weight: 700;
}

.testimonial-card__identity {
  font-size: 1rem;
  font-weight: 400;
}

.testimonial-card__user-review {
  font-weight: 400;
  line-height: 1.5;
}

/* attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Text Colors */
.text--dark-magenta {
  color: hsl(300, 43%, 22%);
}

.text--soft-pink {
  color: hsl(333, 80%, 67%);
}

.text--dark-grayish-magenta {
  color: hsl(303, 10%, 53%);
}

.text--light-grayish-magenta {
  color: hsl(300, 24%, 96%);
}

.text--white {
  color: hsl(0, 0%, 100%);
}

/* background Colors */
.background--dark-magenta {
  background-color: hsl(300, 43%, 22%);
}

.background--light-grayish-magenta {
  background-color: hsl(300, 24%, 96%);
}

/* big screen */
@media (min-width: 1200px) {

  body {
    font-size: 0.8rem;
  }

  h1 {
    margin-bottom: 0;
  }

  .background-top-img {
    top: -100px;
  }

  .background-bottom-img {
    bottom: -100px;
  }

  .content-wrapper {
    width: 1000px;
    margin: 100px auto;
    text-align: left;
  }

  .card-margin {
    margin-right: 20px;
  }

/* title */
  .title {
    display: inline-block;
    margin-right: 5%;
    width: 45%;
  }

  .title__main {
    font-size: 3rem;
  }

  .title__sub {
    font-size: 1rem;
  }

/* rating */
  .rating {
    position: absolute;
    top: 10px;
    right: 0px;
    width: 45%;
  }

  .rating-card__1 {
    position: relative;
    right: 80px;
  }

  .rating-card__2 {
    position: relative;
    right: 40px;
  }

  .rating-card__star {
    display: inline-block;
  }

  .rating-card__caption {
    display: inline-block;
  }

/* testimonial */
  .testimonial-card {
    display: inline-block;
    box-sizing: border-box;
    width: 310px;
  }

  .testimonial-card__2 {
    position: relative;
    top: 20px;
  }

  .testimonial-card__3 {
    position: relative;
    top: 40px;
  }
}
